body {
    color: white;
    background-color: rgb(253, 41, 3);
}

div {
    background-color: rgb(7, 23, 245);
}

button {
    background-color: chartreuse;
    cursor: pointer;
}

button:hover {
    background-color: red;
}